.sidebar {
    height: 100%;
    width: 200px;
    background-color: #000000;
  }
  .SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
  }
  .SidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .SidebarList .row:hover {
    cursor: pointer;
    background-color: rgb(199, 5, 5);
  }
  .SidebarList #active {
    background-color: rgb(199, 5, 5);
  }
  .row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
  }
  .row #title {
    flex: 70%;
  }
  